.buttons {
  margin: 5%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.appTitle {
  font-size: larger;
}

.topBar {
  background-color: #404041;
}

.pageTitle {
  background-color: #8314da;
}
