<!-- Form for adding book -->
<form (submit)="addLibrary(bookForm)" #bookForm = "ngForm">
  <h3>Book Information</h3>
  <p>
    <mat-form-field>
      <label>Title:</label>
    <input name = "title" ngModel required #title = "ngModel">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label>Author:</label>
    <input name = "author" ngModel required #author = "ngModel">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label>Genre:</label>
    <input name = "genre" ngModel required #genre = "ngModel">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-checkbox>Series</mat-checkbox>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <label>Notes</label>
      <textarea name = "notes" ngModel required #notes = "ngModel"></textarea>
    </mat-form-field>
  </p>
</form>







