<!-- Form for adding book -->
<h3>Enter your Book Information</h3>
<form (submit)="onAddLibrary(bookForm)" #bookForm = "ngForm">
  <!-- <div class="spacing"> -->
    <div class="enterTitle">
      <label>Title:</label>
      <input name = "title" ngModel required #title = "ngModel">
    </div>

    <div class="enterAuthor">
      <label>Author:</label>
      <input name = "author" ngModel required #author = "ngModel">
    </div>

    <div class="enterGenres">
      <label>Genre(s):</label>
      <!-- drop down selection -->
      <mat-select [formControl]="genres" multiple selectable>
        <mat-select-trigger>
          <!-- displays selections as chips -->
          <mat-chip-set>
            <mat-chip selected color="primary" *ngFor="let genre of genres.value" class="displayChips">
              {{genre}}
            </mat-chip>
          </mat-chip-set>
        </mat-select-trigger>
        <mat-option *ngFor="let genre of genreList" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </div>

    <div class="checkSeries">
      <mat-checkbox>Series</mat-checkbox>
    </div>

    <div class="enterSeriesTitle">
      <label>Series Title (Optional):</label>
      <input>
    </div>

    <div class="checkStatus">
      <label>Reading Status:</label>
      <mat-radio-group>
        <mat-radio-button>Unread</mat-radio-button>
        <mat-radio-button>In Progress</mat-radio-button>
        <mat-radio-button>Read</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="enterNotes">
      <label>Notes</label>
      <input name = "notes" ngModel required #notes = "ngModel">
    </div>

    <div class="formButtons">
      <button type = "submit">Add to Library</button>
      <button>Add to Wish List</button>
    </div>
  <!-- </div> -->
</form>
