form {
  margin: auto;
  width: 50%;
  height: 60%;
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .formSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

h3 {
  margin: auto;
  margin-top: 2%;
  width: 50%;
  padding: 10px;
  background-color: #9c27b0;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: 500;
}

input {
  margin: auto;
  width: 99%;
}

button {
  margin: auto;
  width: 200px;
  font-size: large;
  font-weight: 500;
}






