<!-- Form for adding book -->
<h3 mat-color="primary">Enter your Book Information</h3>
<form class="bookForm" (submit)="onAddLibrary(bookForm)" #bookForm = "ngForm">

  <mat-form-field class="formSection" id="enterTitle">
    <mat-label>Title</mat-label>
    <input matInput name = "title" ngModel required #title = "ngModel">
    <mat-error *ngIf="title.hasError('required')">Please enter a Title</mat-error>
  </mat-form-field>

  <mat-form-field class="formSection" id="enterAuthor">
    <mat-label>Author:</mat-label>
    <input matInput name = "author" ngModel required #author = "ngModel">
    <mat-error *ngIf="author.hasError('required')">Please enter an Author</mat-error>
  </mat-form-field>

  <mat-form-field class="formSection" id="enterGenres">
    <mat-label class="genreLabel">Genre(s):</mat-label>
    <!-- drop down selection -->
    <mat-select class="genreSelect" required [formControl]="genres" multiple selectable>
      <mat-select-trigger>

        <!-- displays selections as chips -->
        <mat-chip-set>
          <mat-chip highlighted="primary" *ngFor="let genre of genres.value" class="displayChips" name="genre">
            {{genre}}
          </mat-chip>
        </mat-chip-set>

      </mat-select-trigger>
      <mat-option *ngFor="let genre of genreList" [value]="genre">{{genre}}</mat-option>
    </mat-select>
    <mat-error *ngIf="genres.hasError('required')">Please choose a genre</mat-error>
  </mat-form-field>

  <div class="formSection" id="checkSeries">
    <label>Series:</label>
    <mat-checkbox color="accent" name = "series" ngModel #series = "ngModel"></mat-checkbox>
  </div>

  <mat-form-field class="formSection" id="seriesTitle">
    <mat-label>Series Title (Optional):</mat-label>
    <input matInput name = "seriesTitle" ngModel #seriesTitle = "ngModel">
  </mat-form-field>

  <div class="formSection">
    <mat-radio-group class="radio" name = "status" ngModel required #status = "ngModel">
      <label>Reading Status (required): <mat-error class="radioError" *ngIf="status.hasError('required') ">*Required Field</mat-error></label>
      <mat-radio-button class="option" value="Unread">Unread</mat-radio-button>
      <mat-radio-button class="option" value="InProgress">In Progress</mat-radio-button>
      <mat-radio-button class="option" value="Read">Read</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field class="formSection" id="enterNotes">
    <mat-label class="notesLabel">Notes:</mat-label>
    <textarea matInput name = "notes" ngModel #notes = "ngModel"></textarea>
  </mat-form-field>

  <div class="formSection">
    <mat-radio-group class="radio" name = "tag" ngModel required #tag = "ngModel">
      <label>Add to (required): <mat-error class="radioError" *ngIf="tag.hasError('required')">*Required Field</mat-error></label>
      <mat-radio-button class="option" value = "Library">Library</mat-radio-button>
      <mat-radio-button class="option" value = "WishList">Wish List</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="formSection" id="formButton">
    <button type = "submit" mat-raised-button color="primary" class="formButton">Add Book</button>
  </div>
</form>
