<!-- <mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let book of wishlist">
    <mat-card class = "cardPost" multi="true">
      <mat-card-header class="header">
        <mat-card-title class="title">
          {{book.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Author(s): {{book.author}} {{book.tag}}
          <mat-divider></mat-divider>
        </p>
        <p>
          Genre(s): {{book.genre}}
          <mat-divider></mat-divider>
        </p>
        <p *ngIf="book.series">
          Series: {{book.seriesTitle}}
        <mat-divider></mat-divider>
        </p>
        <p>
          Reading Status: {{book.status}}
          <mat-divider></mat-divider>
        </p>
        <mat-accordion multi="true">
          <mat-expansion-panel class="expansion">
            <mat-expansion-panel-header>
              <p>
                Notes
              </p>
            </mat-expansion-panel-header>
            <p>
              {{book.notes}}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->
