@use '@angular/material' as mat;

@import '@angular/material/theming';

@include mat.core();

$Final-Book-Blog-primary: mat.define-palette(mat.$indigo-palette, 600);
$Final-Book-Blog-accent: mat.define-palette(mat.$indigo-palette, 400);
$Final-Book-Blog-warn: mat.define-palette(mat.$red-palette);

$Final-Book-Blog-theme: mat.define-light-theme((
  color: (
    primary: $Final-Book-Blog-primary,
    accent: $Final-Book-Blog-accent,
    warn: $Final-Book-Blog-warn,
  )
));

@include angular-material-theme($Final-Book-Blog-theme);

