.buttons {
  margin: 5%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

a {
  width: 30%;
}

.appTitle {
  font-size: larger;
  font-weight: 500;
}

.topBar {
  background-color: #801797;
}

.pageTitle {
  font-size: larger;
  font-weight: 500;
}
