.buttons {
  margin: 5%;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

/* .buttons a {
  background-color: #404041;
  color: white;
} */

.appTitle {
  font-size: larger;
  font-weight: 500;
}

.topBar {
  background-color: #404041;
}

.pageTitle {
  font-size: larger;
  font-weight: 500;
}
