<!-- <mat-card id = "cardPost" >
  <mat-accordion multi="true">
   <mat-expansion-panel>
     <mat-expansion-panel-header>
       <p>
         Books: {{library.length}}
       </p>
     </mat-expansion-panel-header>
     <p *ngFor="let book of library" >
       Title: {{book.title}},
       Author: {{book.author}}
       Status: {{book.status}}
     </p>
   </mat-expansion-panel>
  </mat-accordion>
 </mat-card> -->

 <mat-card class = "cardPost" *ngFor="let book of library" >
  <mat-card-header>
    <mat-card-title>
      {{book.title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Author(s): {{book.author}}
    </p>
    <p>
      Genre(s): [insert genre]
    </p>
    <p> <!-- put *ngIf for when series checkbox is true-->
      Series: [insert series title]
    </p>
    <p>
      Reading Status: [insert reading status]
    </p>
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>
            Notes
          </p>
        </mat-expansion-panel-header>
        <p>
          [insert notes content]
        </p>
      </mat-expansion-panel>
     </mat-accordion>
  </mat-card-content>
 </mat-card>
